name: Frontend Test Report

on:
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  call-test-workflow:
    uses: ./.github/workflows/reusable-frontend-test.yml
    with:
      ref: ${{ github.ref }}
      report-name: 'Frontend Test Results'
    permissions:
      id-token: write
      contents: read
      checks: write
      actions: read
      pull-requests: write

